### Exercise
Study the following code lines:
```
len('Python') > 2 | len('Python') < 4
(len('Python') > 2) | (len('Python') < 4)
```
Which of these code lines works as expected?

In [446]:
# len('Python') > 2 | len('Python') < 4

In [447]:
(len('Python') > 2) | (len('Python') < 4)

True

### Exercise
Study the following code lines:
```
len('Python') > 2 or len('Python') < 4
(len('Python') > 2) or (len('Python') < 4)
```
Which of these code lines works as expected?

In [448]:
len('Python') > 2 or len('Python') < 4

True

In [449]:
(len('Python') > 2) or (len('Python') < 4)

True

Generally, it is better to use the `and` and the `or` operators as opposed to the `&` and the `|` operators. In addition, it is better to use parentheses for each logical condition. You are encouraged to explore this further. Try querying an LLM to learn more about the differences in the way these operators work.

### Exercise
 Remove leading and trailing whitespaces from the string `'    Hi,   I am a robot.   '` and change the case to uppercase.

In [450]:
exercise_string = '    Hi,   I am a robot.   '
exercise_string.strip().upper()

'HI,   I AM A ROBOT.'

### Exercise
Check if the substrings `'Aarti'` and `'cooks'` both are not present in the string `'David and Ram are excellent coders!'`.

In [451]:
exercise_string = 'David and Ram are excellent coders!'
'Arti' not in exercise_string and 'cooks' not in exercise_string

True

### Exercise
What is the index of the `'world'` in the string `'Hello, world of Python!'`.

In [452]:
exercise_string = 'Hello, world of Python!'
exercise_string.find('world')

7

### Exercise
Convert the phrase `'Introduction to python programming'` to title case

In [453]:
exercise_string = 'Introduction to python programming'
exercise_string.title()

'Introduction To Python Programming'

### Exercise
Rectify the sentence `'Pthyon     programmIng  Is awesome!'`

In [454]:
exercise_string = 'Pthyon     programmIng  Is awesome!'
exercise_string.strip().replace('thy', 'yth').replace('I', 'i').replace('     ', ' ').replace('  ', ' ')

'Python programming is awesome!'

In [455]:
exercise_string = 'Pthyon     programmIng  Is awesome!'
' '.join(exercise_string.split()).replace('thy', 'yth').replace('I', 'i')

'Python programming is awesome!'

### Exercise
Print the last element from the following list: `[14, 4.4, 10, -1, [100]]`.

In [456]:
some_list = [14, 4.4, 10, -1, [100]]
some_list[4]

[100]

In [457]:
some_list = [14, 4.4, 10, -1, [100]]
some_list[len(some_list) - 1]

[100]

In [458]:
some_list = [14, 4.4, 10, -1, [100]]
some_list[-1]

[100]

### Exercise
Find the smallest element in the following list: `[15, 25, 10, 35, 20, -1, 0, -20]`.

In [459]:
some_list = [15, 25, 10, 35, 20, -1, 0, -20]
min(some_list)

-20

###Quiz

You are building a task scheduler application. You have the following list of tasks:

`tasks = ['Read', 'Write', 'Code', 'Exercise', 'Sleep']`

Add a new task to the list by prompting user.

In [1]:
tasks = ['Read', 'Write', 'Code', 'Exercise']
new_task = input('Enter new task: ')
tasks.append(new_task)
tasks

Enter new task:  cook

['Read', 'Write', 'Code', 'Exercise', 'cook']

### Exercise
You are given two lists representing sales data for a month:

```
dates = ["2023-01-01", "2023-01-02", "2023-01-03", "2023-01-04", "2023-01-05"]
sales = [120.50, 45.20, 200.00, 30.00, 80.60]
```

Assume the sales are made in the same order as the dates.

1. Calculate and print the total sales for the month.
2. Identify and print the date(s) with the highest sales.
3. Calculate and print the average daily sales.
4. Identify and print the date(s) with the lowest sales.

In [461]:
dates = ["2023-01-01", "2023-01-02", "2023-01-03", "2023-01-04", "2023-01-05"]
dates

['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']

In [462]:
sales = [120.50, 45.20, 200.00, 30.00, 80.60]
sales

[120.5, 45.2, 200.0, 30.0, 80.6]

In [463]:
# 1. Solution
tot_sales = sum(sales)

In [464]:
tot_sales

476.29999999999995

In [465]:
# 2. Solution
max_sales_pos = sales.index(max(sales))
max_sales_pos

2

In [466]:
dates[max_sales_pos]

'2023-01-03'

In [467]:
# 3. Solution

In [468]:
mean_sale = tot_sales / len(sales)

In [469]:
mean_sale

95.25999999999999

In [470]:
# 4. Solution
min_sales_pos = sales.index(min(sales))
min_sales_pos

3

In [471]:
dates[min_sales_pos]

'2023-01-04'

### Exercise
What is the output of `int(str(42))`? What is the output of `str(int('42'))`?

In [472]:
int(str(42))

42

In [473]:
str(int('42'))

'42'

### Exercise
Store the string `'Hello world!'` in a variable called `hello_str` and print it.

In [474]:
hello_str = 'Hello world!'
print(hello_str)

Hello world!

Print the seventh character from `hello_str`.

In [475]:
hello_str[6]

'w'

Print the last character from `hello_str`.

In [476]:
hello_str[-1]

'!'

### Exercise
Extract the string `'program'` from the sentence `'I find Python programming very interesting!'`

In [477]:
exercise_string = 'I find Python programming very interesting!'
exercise_string[14:21]

'program'

### Exercise
How many times does `'I'` occur in the string `'I am Jane. I was born in Canada. I like programming.'`?

In [478]:
exercise_string = 'I am Jane. I was born in Canada. I like programming.'
exercise_string.count('I')

3

### Exercise
Sort the following strings lexicographically and print them in the ascending order:
```
'Python'
'programming'
'Matlab'
'Data'
'upGrad'
```
**Hint:** Obtain the ASCII values of the first character of each string and then print them in ascending order of ASCII values

In [479]:
print(ord('P'), ord('p'), ord('M'), ord('D'), ord('u'))

80 112 77 68 117

In [480]:
print('Data', 'Matlab', 'Python', 'programming', 'upGrad')

Data Matlab Python programming upGrad

### Exercise
Sort `[19, 2, 4, 23]` in descending order.

In [481]:
sorted([19, 2, 4, 23], reverse = True)

[23, 19, 4, 2]

### Exercise
Find the sum of all the odd numbers in the list `[10, 20, 5, 30, 40, 15]`.

In [482]:
num_list = [17, 42, 9, 33, 8, 25, 12, 7, 16, 21]
odd_nums = [num for num in num_list if num % 2 != 0]
sum(odd_nums)

112

### Exercise
Study the following string variables:
```
name = 'Mehmood'
age = 45
domain = 'IT'
role = 'software developer'
```
Concatenate these variables to produce the string `'Mehmood is a 45 year old software developer working in the IT team.'` Note that you may need to change the types of certain variables for concatenation to work.

In [483]:
name = 'Mehmood'
age = 45
domain = 'IT'
role = 'software developer'
print(name + ' is a ' + str(age) + ' year old ' + role + ' working in the ' + domain + ' team.')

Mehmood is a 45 year old software developer working in the IT team.

### Exercise
Print the fourth element from the following list: `[17, 42, 9, 33, 8]`.

In [484]:
some_list = [17, 42, 9, 33, 8]
some_list[3]

33

Print the middle two elements from the list `[23, -14, 22, 134]`.

In [485]:
some_list = [23, -14, 22, 134]
some_list[1:3]

[-14, 22]

### Exercise
Replace all commas with semi-colons in the sentence `'Rainy, sunny, cloudy are types of weather'`

In [486]:
exercise_string = 'Rainy, sunny, cloudy are types of weather'
exercise_string.replace(',', ';')

'Rainy; sunny; cloudy are types of weather'

### Exercise
Clean the sentence `' Why is it lkie this? I dont know! '`

In [487]:
exercise_string = ' Why is it lkie this? I dont know! '
exercise_string.replace('lkie', 'like').replace('dont', 'don\'t').strip()

"Why is it like this? I don't know!"

Split the string `'This#statement#is#hard#to#read.'` using the right separator and join the substrings back to produce a proper sentence

In [488]:
exercise_string = 'This#statement#is#hard#to#read.'
' '.join(exercise_string.split('#'))

'This statement is hard to read.'

### Exercise
Given the following table containing the coordinates of a point in a 3D plane, create a tuple that contains the coordinate values
```
Variable:  x   y   z
Values:    0   1   0
```

In [489]:
my_tuple = (0, 1, 0)
my_tuple

(0, 1, 0)

### Exercise
Given two lists of `fruits = ['apple', 'banana', 'avocado', 'mango']` and `price = [150, 40, 100, 50]`, create a tuple of nested tuples where each inner tuple contains a fruit and its price

In [490]:
fruits = ['apple', 'banana', 'avocado', 'mango']
price = [150, 40, 100, 50]

In [491]:
item_info = zip(fruits, price)

In [492]:
item_info

In [493]:
result = tuple(item_info)
result

(('apple', 150), ('banana', 40), ('avocado', 100), ('mango', 50))

### Exercise
Print the last element of the tuple `some_tuple = (2, 5, 4, 7, 6, 9, 8)`

In [494]:
some_tuple = (2, 5, 4, 7, 6, 9, 8)

In [495]:
last_ele = some_tuple[-1]

In [496]:
last_ele

8

In [497]:
last_ele = some_tuple[6]

In [498]:
last_ele

8

### Exercise
Consider the following tuples:
```
some_tuple_1 = ('Adit', 'Chitra', 'David', 'Huzefa', 'Jagannath', 'Monika', 'Tuhina')
some_tuple_2 = ('AB018', 'AC626', 'BH782', 'CF663', 'DM787', 'FG098')
```
Print the middle element(s) of both the tuples

In [499]:
some_tuple_1 = ('Adit', 'Chitra', 'David', 'Huzefa', 'Jagannath', 'Monika', 'Tuhina')
some_tuple_2 = ('AB018', 'AC626', 'BH782', 'CF663', 'DM787', 'FG098')

In [500]:
some_tuple_1[7//2]

'Huzefa'

In [501]:
some_tuple_2[6//2 - 1: 6//2 + 1]

('BH782', 'CF663')

### Exercise
What is the length of the tuple `my_tuple = (3.1, 'H', 2.7, 'W', 1.6, (1, 3), 'P', 0.577, 'T')`?

In [502]:
my_tuple = (3.1, 'H', 2.7, 'W', 1.6, (1, 3), 'P', 0.577, 'T')

In [503]:
len(my_tuple)

9

### Exercise
Check if both `'Fe'` and `'N'` are present in the tuple `chem_elements = ('H', 'He', 'Li', 'Be', 'B', 'C', 'N', 'Xe', 'O', 'F', 'Ne')`

In [504]:
chem_elements = ('H', 'He', 'Li', 'Be', 'B', 'C', 'N', 'Xe', 'O', 'F', 'Ne')

In [505]:
'Fe' in chem_elements and 'N' in chem_elements

False

### Exercise
Consider the following tuple of employee names and ID numbers:
```
emp_tuple = (['AG8476', 'Chidanand'],
             ['MZ6708', 'Anjuman'],
             ['HF3876', 'Dinesh'],
             ['RT0087', 'Vijay'],
             ['UH5307', 'Ankita'])
```
What is the index of Vijay's information in the tuple?

In [506]:
emp_tuple = (['AG8476', 'Chidanand'],
             ['MZ6708', 'Anjuman'],
             ['HF3876', 'Dinesh'],
             ['RT0087', 'Vijay'],
             ['UH5307', 'Ankita'])

In [507]:
emp_tuple.index(['RT0087', 'Vijay'])

3

### Exercise
Sort the tuple `(41, 13, 55, 20, 33)` in descending order and return the output as another tuple.

In [508]:
my_tuple = (41, 13, 55, 20, 33)

In [509]:
descending_list = sorted(my_tuple, reverse = True)

In [510]:
descending_tuple =  tuple(descending_list)

In [511]:
descending_tuple

(55, 41, 33, 20, 13)

### Exercise
Sort `some_tup = (3.14, 2.71, 5.0, 1.618, 0.577, 4.669, 9.81, 2.99, 8.314, 6.022, 1.414)` in descending order

In [512]:
some_tup = (3.14, 2.71, 5.0, 1.618, 0.577, 4.669, 9.81, 2.99, 8.314, 6.022, 1.414)
descending_tuple = tuple(sorted(some_tup, reverse = True))
descending_tuple

(9.81, 8.314, 6.022, 5.0, 4.669, 3.14, 2.99, 2.71, 1.618, 1.414, 0.577)

### Exercise
Given a tuple of expiry dates `exp_dates = ('2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01', '2023-05-01')` unpack only the first 2 dates into separate variables `'date_1'` and `'date_2'`

In [513]:
exp_dates = ('2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01', '2023-05-01')

In [514]:
date_1, date_2, _, _, _ = exp_dates

In [515]:
date_1

'2023-01-01'

In [516]:
date_2

'2023-02-01'

### Exercise
Concatenate the tuples `('a', 'b', 'c')` and `(1, 2, 3)`

In [517]:
('a', 'b', 'c') + (1, 2, 3)

('a', 'b', 'c', 1, 2, 3)

### Exercise
The tuple `heights = (1.60, 1.75, 1.62, 1.68, 1.80, 1.55, 1.70, 1.65, 1.75, 1.58)` contains the heights of a students in a class. Find the maximum and minimum heights.

In [518]:
heights = (1.60, 1.75, 1.62, 1.68, 1.80, 1.55, 1.70, 1.65, 1.75, 1.58)

In [519]:
max(heights)

1.8

In [520]:
min(heights)

1.55

### Exercise
You are given a tuple containing reviews of seven customers on a certain product, `cust_reviews = (4.5, 3.2, 5.0, 4.8, 2.5, 3.7, 4.0)`. Find the average review of the product to 2 decimal places.

**Hint:** Use the `round` method for rounding. Study its documentation to understand how to round to 2 decimal places.

In [521]:
cust_reviews = (4.5, 3.2, 5.0, 4.8, 2.5, 3.7, 4.0)
average_review = sum(cust_reviews) / len(cust_reviews)
round(average_review, 2)

3.96

### Exercise
Find the smallest element in the tuple `(2.5, 1.8, 3.7, 4.2, 0.9)`.

**Note:** You can achieve this by using the `min` function. However, another common approach is to sort the tuple in ascending order and index the first element.

In [522]:
some_tuple = (2.5, 1.8, 3.7, 4.2, 0.9)
ascending_tuple = tuple(sorted(some_tuple))
smallest_element = ascending_tuple[0]
smallest_element

0.9

### Exercise
The set `{1.5, 2.0, 1.8, 2.2, 1.9, 1.7, 2.5, 1.9, 2.1, 2.3, 2.0, 2.4}` contains weights of rabbits. Determine the number of rabbits in the sample.

In [523]:
rabbit_weights = {1.5, 2.0, 1.8, 2.2, 1.9, 1.7, 2.5, 1.9, 2.1, 2.3, 2.0, 2.4}
print(f'Sets only store unique elements, so {len(rabbit_weights)} is the number of unique weights in the sample')

Sets only store unique elements, so 10 is the number of unique weights in the sample

### Exercise
Consider the following set of country codes:
```
country_codes = {'US', 'CA', 'UK', 'DE', 'FR', 'IT', 'JP', 'AU', 'BR', 'IN', 'CN', 'RU'}
```
Is India's code present in the set?

In [524]:
country_codes = {'US', 'CA', 'UK', 'DE', 'FR', 'IT', 'JP', 'AU', 'BR', 'IN', 'CN', 'RU'}
'IN' in country_codes

True

### Exercise
Consider the following set of employee names:
```
current_emp_names = {'Aditya', 'Manoj', 'Eric', 'Sanju', 'Tanveer'}
```
Suppose that a new employee, Rashi, has joined the compay, and Aditya has resigned. Update the set accordingly.

In [525]:
current_emp_names = {'Aditya', 'Manoj', 'Eric', 'Sanju', 'Tanveer'}
current_emp_names.remove('Aditya')
current_emp_names.add('Rashi')
current_emp_names

{'Eric', 'Manoj', 'Rashi', 'Sanju', 'Tanveer'}

### Exercise
Consider the following two sets:
```
A = {1, 2, 3, 3.5, 4.2, 5, 5.5}
B = {1, 2, 3, 3.5, 4.2, 5, 5, 5.5, 5.5}
```
Are they equal?

In [526]:
A = {1, 2, 3, 3.5, 4.2, 5, 5.5}
A

{1, 2, 3, 3.5, 4.2, 5, 5.5}

In [527]:
B = {1, 2, 3, 3.5, 4.2, 5, 5, 5.5, 5.5}
B

{1, 2, 3, 3.5, 4.2, 5, 5.5}

In [528]:
A == B

True

### Exercise
The following sets contain the names of students who have enrolled in two different programs, DSAI and MBA:
```
DSAI = {'Aanya', 'Olivia', 'Kabir', 'Emma', 'Aiden', 'Sophia', 'Arjun',
      'Ava', 'Elijah', 'Ishaan', 'Liam', 'Aisha', 'Aditya', 'Ishika',
      'Aarav', 'Mia', 'Noah', 'Avni', 'Jackson'}
MBA = {'Deepesh', 'Aanya', 'Chandu', 'Olivia', 'Alazar', 'Sofie', 'Kabir',
       'Emma', 'Priya', 'Kokila', 'Kabita',  'Aiden', 'Nematullah', 'Sophia',
       'Arjun', 'Ava', 'Elijah', 'Ishaan', 'Liam', 'Aisha', 'Aditya', 'Ishika',
       'Aarav', 'Mia', 'Noah', 'Avni', 'Jackson'}
```
Check if all the MBA learners are also part of the DSAI program.

In [529]:
DSAI = {'Aanya', 'Olivia', 'Kabir', 'Emma', 'Aiden', 'Sophia', 'Arjun',
      'Ava', 'Elijah', 'Ishaan', 'Liam', 'Aisha', 'Aditya', 'Ishika',
      'Aarav', 'Mia', 'Noah', 'Avni', 'Jackson'}
MBA = {'Deepesh', 'Aanya', 'Chandu', 'Olivia', 'Alazar', 'Sofie', 'Kabir',
       'Emma', 'Priya', 'Kokila', 'Kabita',  'Aiden', 'Nematullah', 'Sophia',
       'Arjun', 'Ava', 'Elijah', 'Ishaan', 'Liam', 'Aisha', 'Aditya', 'Ishika',
       'Aarav', 'Mia', 'Noah', 'Avni', 'Jackson'}

In [530]:
MBA.issubset(DSAI)

False

### Exercise
The following sets contain the names of customers who have opted for either a credit card or a loan from a bank:
```
credit_card = {'Rahul', 'Priya', 'Amit', 'Ananya', 'Raj', 'Kunal'}
loan = {'Sonia', 'Vikram', 'Neha', 'Kunal', 'Anjali', 'Rahul'}
```
Which customers opted for exactly one of these services?

In [531]:
credit_card = {'Rahul', 'Priya', 'Amit', 'Ananya', 'Raj', 'Kunal'}
loan = {'Sonia', 'Vikram', 'Neha', 'Kunal', 'Anjali', 'Rahul'}
credit_card ^ loan

{'Amit', 'Ananya', 'Anjali', 'Neha', 'Priya', 'Raj', 'Sonia', 'Vikram'}

### Exercise
Store the following data as a dictionary:
```
name = 'Alice',
age = 30
city = 'Wonderland'
```

In [532]:
person_data = {'name': 'Alice', 'age': 30, 'city': 'Wonderland'}

In [533]:
type(person_data)

dict

In [534]:
person_data

{'name': 'Alice', 'age': 30, 'city': 'Wonderland'}

Create a dictionary from the same data above using the `dict` constructor with keyword arguments

In [535]:
person_data = dict(name = 'Alice', age = 30, city = 'Wonderland')

In [536]:
type(person_data)

dict

In [537]:
person_data

{'name': 'Alice', 'age': 30, 'city': 'Wonderland'}

### Exercise
Study the following information categories that are stored in a list:
```
info_list = ['name', 'age', 'city']
```
Create a dictionary using the above keys and store it in a variable called `default_dict` with default values for all categories as `N/A`

In [538]:
info_list = ['name', 'age', 'city']
default_value = 'N/A'
default_dict = dict.fromkeys(info_list, default_value)
default_dict

{'name': 'N/A', 'age': 'N/A', 'city': 'N/A'}

### Exercise
Print `name` from the dictionary `employee = {'name': 'John', 'age': 30}`

In [539]:
employee = {'name': 'John', 'age': 30}
employee

{'name': 'John', 'age': 30}

In [540]:
employee['name']

'John'

In [541]:
employee.get('name', 'Name is not available')

'John'

### Exercise
Consider the following individual dictionaries:
```
personal_info = {'name': 'Sonali', 'age': 25}
address = {'city': 'Mumbai', 'zipcode': 123456}
```
Create a nested dictionary called `nested_dict` from these dictionaries, first by using `{}` and then by using `dict()`.

In [542]:
personal_info = {'name': 'Sonali', 'age': 25}
address = {'city': 'Mumbai', 'zipcode': 123456}

In [543]:
nested_dict = {'personal_info': personal_info, 'address': address}
nested_dict

{'personal_info': {'name': 'Sonali', 'age': 25},
 'address': {'city': 'Mumbai', 'zipcode': 123456}}

In [544]:
nested_dict = dict(pesonal_info = personal_info, address = address)
nested_dict

{'pesonal_info': {'name': 'Sonali', 'age': 25},
 'address': {'city': 'Mumbai', 'zipcode': 123456}}

### Exercise
Consider the following dictionary that has details about a university student:
```
university_student = {'student_id': '123456',
                      'name': {'first_name': 'Surendar',
                               'last_name': 'Dixit'},
                      'age': 21,
                      'email': 'emma.j@example.com',
                      'phone': '555-987-6543',
                      'courses': ['Math', 'English', 'Computer Science'],
                      'is_international': False}
```
Extract and find the length of the list that contains the subjects the student has opted for

In [545]:
university_student = {'student_id': '123456',
                      'name': {'first_name': 'Surendar',
                               'last_name': 'Dixit'},
                      'age': 21,
                      'email': 'emma.j@example.com',
                      'phone': '555-987-6543',
                      'courses': ['Math', 'English', 'Computer Science'],
                      'is_international': False}

In [546]:
len(university_student['courses'])

3

### Exercise
Find the length of the following dictionary:
```
university_student = {'student_id': '123456',
                      'name': {'first_name': 'Surendar',
                               'last_name': 'Dixit'},
                      'personal_details': {'age': 21,
                                           'email': 'emma.j@example.com',
                                           'phone': '555-987-6543'},
                      'courses': ['Math', 'English', 'Computer Science'],
                      'is_international': False}
```

In [547]:
university_student = {'student_id': '123456',
                      'name': {'first_name': 'Surendar',
                               'last_name': 'Dixit'},
                      'personal_details': {'age': 21,
                                           'email': 'emma.j@example.com',
                                           'phone': '555-987-6543'},
                      'courses': ['Math', 'English', 'Computer Science'],
                      'is_international': False}
len(university_student)

5

### Exercise
List all the keys of the following dictionary:
```
university_student = {'student_id': '123456',
                      'name': {'first_name': 'Surendar',
                               'last_name': 'Dixit'},
                      'personal_details': {'age': 21,
                                           'email': 'emma.j@example.com',
                                           'phone': '555-987-6543'},
                      'courses': ['Math', 'English', 'Computer Science'],
                      'is_international': False}
```

In [548]:
university_student = {'student_id': '123456',
                      'name': {'first_name': 'Surendar',
                               'last_name': 'Dixit'},
                      'personal_details': {'age': 21,
                                           'email': 'emma.j@example.com',
                                           'phone': '555-987-6543'},
                      'courses': ['Math', 'English', 'Computer Science'],
                      'is_international': False}
list(university_student.keys())

['student_id', 'name', 'personal_details', 'courses', 'is_international']

### Exercise
List all the values of the following dictionary:
```
university_student = {'student_id': '123456',
                      'name': {'first_name': 'Surendar',
                               'last_name': 'Dixit'},
                      'personal_details': {'age': 21,
                                           'email': 'emma.j@example.com',
                                           'phone': '555-987-6543'},
                      'courses': ['Math', 'English', 'Computer Science'],
                      'is_international': False}
```

In [549]:
university_student = {'student_id': '123456',
                      'name': {'first_name': 'Surendar',
                               'last_name': 'Dixit'},
                      'personal_details': {'age': 21,
                                           'email': 'emma.j@example.com',
                                           'phone': '555-987-6543'},
                      'courses': ['Math', 'English', 'Computer Science'],
                      'is_international': False}
list(university_student.values())

['123456',
 {'first_name': 'Surendar', 'last_name': 'Dixit'},
 {'age': 21, 'email': 'emma.j@example.com', 'phone': '555-987-6543'},
 ['Math', 'English', 'Computer Science'],
 False]

### Exercise
List all the key-value pairs of the following dictionary:
```
university_student = {'student_id': '123456',
                      'name': {'first_name': 'Surendar',
                               'last_name': 'Dixit'},
                      'personal_details': {'age': 21,
                                           'email': 'emma.j@example.com',
                                           'phone': '555-987-6543'},
                      'courses': ['Math', 'English', 'Computer Science'],
                      'is_international': False}
```

In [550]:
university_student = {'student_id': '123456',
                      'name': {'first_name': 'Surendar',
                               'last_name': 'Dixit'},
                      'personal_details': {'age': 21,
                                           'email': 'emma.j@example.com',
                                           'phone': '555-987-6543'},
                      'courses': ['Math', 'English', 'Computer Science'],
                      'is_international': False}
list(university_student.items())

[('student_id', '123456'),
 ('name', {'first_name': 'Surendar', 'last_name': 'Dixit'}),
 ('personal_details',
  {'age': 21, 'email': 'emma.j@example.com', 'phone': '555-987-6543'}),
 ('courses', ['Math', 'English', 'Computer Science']),
 ('is_international', False)]

### Exercise
Consider the following dictionary that has details about a university student:
```
university_student = {'student_id': '123456',
                      'name': {'first_name': 'Surendar',
                               'last_name': 'Dixit'},
                      'age': 21,
                      'email': 'emma.j@example.com',
                      'phone': '555-987-6543',
                      'courses': ['Math', 'English', 'Computer Science'],
                      'is_international': False}
```
What is the command to check whether both the keys `'name'` and `'age'` are present in the dictionary?

In [551]:
university_student = {'student_id': '123456',
                      'name': {'first_name': 'Surendar',
                               'last_name': 'Dixit'},
                      'age': 21,
                      'email': 'emma.j@example.com',
                      'phone': '555-987-6543',
                      'courses': ['Math', 'English', 'Computer Science'],
                      'is_international': False}

In [552]:
'name' in university_student and 'age' in university_student

True

### Exercise
Are the dictionaries `dict1 = {'a': 1, 'b': 2}` and `dict2 = {'b': 2, 'a': 1}` equal?

In [553]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 2, 'a': 1}
dict1 == dict2

True

### Exercise
Consider the following dictionary:
```
employee = {'name': 'Vidya', 'gender': 'F', 'age': 25}
```
Add the following key-value pair to the dictionary: `'city': 'Chennai'`

In [554]:
employee = {'name': 'Vidya', 'gender': 'F', 'age': 25}
employee['city'] = 'Chennai'
employee

{'name': 'Vidya', 'gender': 'F', 'age': 25, 'city': 'Chennai'}

In [555]:
employee = {'name': 'Vidya', 'gender': 'F', 'age': 25}
employee.update({'city': 'Chennai'})
employee

{'name': 'Vidya', 'gender': 'F', 'age': 25, 'city': 'Chennai'}

In [556]:
employee = {'name': 'Vidya', 'gender': 'F', 'age': 25}
employee.__setitem__('city', 'Chennai')
employee

{'name': 'Vidya', 'gender': 'F', 'age': 25, 'city': 'Chennai'}

### Exercise
Consider the following dictionary:
```
employee = {'name': 'Vidya', 'gender': 'F', 'age': 25}
```
Remove the last item from the dictionary

In [557]:
employee = {'name': 'Vidya', 'gender': 'F', 'age': 25}
employee.popitem();
employee

{'name': 'Vidya', 'gender': 'F'}

### Exercise
Consider the following dictionary:
```
employee = {'name': 'Vidya', 'gender': 'F', 'age': 25}
```
Remove the gender from the dictionary

In [558]:
employee = {'name': 'Vidya', 'gender': 'F', 'age': 25}
del employee['gender']
employee

{'name': 'Vidya', 'age': 25}

### Exercise
Consider the following dictionary:
```
employee = {'name': 'Vidya', 'gender': 'M', 'age': 25}
```
The name of the employee was incorrectly registered as Vidya instead of Divya. Rectify this and also the mistake in the gender.

In [559]:
employee = {'name': 'Vidya', 'gender': 'M', 'age': 25}
employee.update({'name': 'Divya', 'gender': 'F'})
employee

{'name': 'Divya', 'gender': 'F', 'age': 25}

### Exercise
Consider the following dictionary that contains the monthly sales data of a product for the year 2020:
```
sales_dict = {'Jan': 45, 'Feb': 35, 'Mar': 64,
              'Apr': 75, 'May': 83, 'Jun': 108,
              'Jul': 112, 'Aug': 95, 'Sep': 87,
              'Oct': 65, 'Nov': 74, 'Dec': 70}
```
Print the top three sales amounts and the months in which those sales were made as a new dictionary

In [560]:
sales_dict = {'Jan': 45, 'Feb': 35, 'Mar': 64,
              'Apr': 75, 'May': 83, 'Jun': 108,
              'Jul': 112, 'Aug': 95, 'Sep': 87,
              'Oct': 65, 'Nov': 74, 'Dec': 70}
key_list = list(sales_dict.keys())
val_list_sorted = sorted(sales_dict.values())[::-1]
req_vals = val_list_sorted[0:3]
req_keys = key_list[0:3]
new_dict = dict(zip(req_keys, req_vals))
new_dict

{'Jan': 112, 'Feb': 108, 'Mar': 95}

### Exercise
Consider the following dictionary that contains the monthly sales data of a product for the year 2020:
```
sales_dict = {'Jan': 45, 'Feb': 35, 'Mar': 64,
              'Apr': 75, 'May': 83, 'Jun': 108,
              'Jul': 112, 'Aug': 95, 'Sep': 87,
              'Oct': 65, 'Nov': 74, 'Dec': 70}
```
Print the maximum and minimum sales values along with the amounts

In [561]:
sales_dict = {'Jan': 45, 'Feb': 35, 'Mar': 64,
              'Apr': 75, 'May': 83, 'Jun': 108,
              'Jul': 112, 'Aug': 95, 'Sep': 87,
              'Oct': 65, 'Nov': 74, 'Dec': 70}
max_sales = max(sales_dict.values())
max_sales_month = max(sales_dict, key = sales_dict.get)
min_sales = min(sales_dict.values())
min_sales_month = min(sales_dict, key = sales_dict.get)
print(f'Maximum sales occurred in the month of {max_sales_month} with a sales amount of {max_sales} units')
print(f'Minimum sales occurred in the month of {min_sales_month} with a sales amount of {min_sales} units')

Maximum sales occurred in the month of Jul with a sales amount of 112 units
Minimum sales occurred in the month of Feb with a sales amount of 35 units