### Exercise
Study the following code lines:
```
len('Python') > 2 | len('Python') < 4
(len('Python') > 2) | (len('Python') < 4)
```
Which of these code lines works as expected?

In [ ]:
len('Python') > 2 | len('Python') < 4
(len('Python') > 2) | (len('Python') < 4)

In [ ]:
True|False
=True

### Exercise
Study the following code lines:
```
len('Python') > 2 or len('Python') < 4
(len('Python') > 2) or (len('Python') < 4)
```
Which of these code lines works as expected?

In [ ]:
### YOUR CODE HERE ###

In [ ]:
### YOUR CODE HERE ###

Generally, it is better to use the `and` and the `or` operators as opposed to the `&` and the `|` operators. In addition, it is better to use parentheses for each logical condition. You are encouraged to explore this further. Try querying an LLM to learn more about the differences in the way these operators work.

### Exercise
 Remove leading and trailing whitespaces from the string `'    Hi,   I am a robot.   '` and change the case to uppercase.

In [ ]:
x='    Hi,   I am a robot.   '
x=x.strip()
x=x.upper()
x

### Exercise
Check if the substrings `'Aarti'` and `'cooks'` both are not present in the string `'David and Ram are excellent coders!'`.

In [ ]:
x='David and Ram are excellent coders!'
print('Aarti' not in x and 'cooks' not in x)

### Exercise
What is the index of the `'world'` in the string `'Hello, world of Python!'`.

In [ ]:
x='Hello, world of Python!'
x.index('world')

### Exercise
Convert the phrase `'Introduction to python programming'` to title case

In [ ]:
x='Introduction to python programming'
x.title()

### Exercise
Rectify the sentence `'Pthyon     programmIng  Is awesome!'`

In [ ]:
x='Pthyon     programmIng  Is awesome!'
x.strip().replace('thy','yth').replace('     ',' ').replace('  ',' ').replace('I','i')

### Exercise
Print the last element from the following list: `[14, 4.4, 10, -1, [100]]`.

In [ ]:
x=[14, 4.4, 10, -1, [100]]
x[4]

### Exercise
Find the smallest element in the following list: `[15, 25, 10, 35, 20, -1, 0, -20]`.

In [ ]:
x=[15, 25, 10, 35, 20, -1, 0, -20]
y=sorted(x)
min(y)

###Quiz

You are building a task scheduler application. You have the following list of tasks:

`tasks = ['Read', 'Write', 'Code', 'Exercise', 'Sleep']`

Add a new task to the list by prompting user.

In [5]:
tasks = ['Read', 'Write', 'Code', 'Exercise','Sleep']
new_task = input('Enter new task: ')
tasks.append(new_task)
tasks

Enter new task:  cook

['Read', 'Write', 'Code', 'Exercise', 'Sleep', 'cook']

### Exercise
You are given two lists representing sales data for a month:

```
dates = ["2023-01-01", "2023-01-02", "2023-01-03", "2023-01-04", "2023-01-05"]
sales = [120.50, 45.20, 200.00, 30.00, 80.60]
```

Assume the sales are made in the same order as the dates.

1. Calculate and print the total sales for the month.
2. Identify and print the date(s) with the highest sales.
3. Calculate and print the average daily sales.
4. Identify and print the date(s) with the lowest sales.

In [ ]:
### YOUR CODE HERE ###

In [ ]:
# 1. Solution
### YOUR CODE HERE ###

In [ ]:
# 2. Solution
### YOUR CODE HERE ###

In [ ]:
# 3. Solution
### YOUR CODE HERE ###

In [ ]:
# 4. Solution
### YOUR CODE HERE ###

### Exercise
What is the output of `int(str(42))`? What is the output of `str(int('42'))`?

In [ ]:
### YOUR CODE HERE ###

In [ ]:
### YOUR CODE HERE ###

### Exercise
Store the string `'Hello world!'` in a variable called `hello_str` and print it.

In [ ]:
### YOUR CODE HERE ###

Print the seventh character from `hello_str`.

In [ ]:
### YOUR CODE HERE ###

Print the last character from `hello_str`.

In [ ]:
### YOUR CODE HERE ###

### Exercise
Extract the string `'program'` from the sentence `'I find Python programming very interesting!'`

In [ ]:
### YOUR CODE HERE ###

### Exercise
How many times does `'I'` occur in the string `'I am Jane. I was born in Canada. I like programming.'`?

In [ ]:
### YOUR CODE HERE ###

### Exercise
Sort the following strings lexicographically and print them in the ascending order:
```
'Python'
'programming'
'Matlab'
'Data'
'upGrad'
```
**Hint:** Obtain the ASCII values of the first character of each string and then print them in ascending order of ASCII values

In [ ]:
### YOUR CODE HERE ###

In [ ]:
### YOUR CODE HERE ###

### Exercise
Sort `[19, 2, 4, 23]` in descending order.

In [ ]:
### YOUR CODE HERE ###

### Exercise
Find the sum of all the odd numbers in the list `[10, 20, 5, 30, 40, 15]`.

In [ ]:
# Hint: you may want to look up the idea of a list comprehension to solve this exercise.
### YOUR CODE HERE ###

### Exercise
Study the following string variables:
```
name = 'Mehmood'
age = 45
domain = 'IT'
role = 'software developer'
```
Concatenate these variables to produce the string `'Mehmood is a 45 year old software developer working in the IT team.'` Note that you may need to change the types of certain variables for concatenation to work.

In [ ]:
### YOUR CODE HERE ###

### Exercise
Print the fourth element from the following list: `[17, 42, 9, 33, 8]`.

In [ ]:
### YOUR CODE HERE ###

Print the middle two elements from the list `[23, -14, 22, 134]`.

In [ ]:
### YOUR CODE HERE ###

### Exercise
Replace all commas with semi-colons in the sentence `'Rainy, sunny, cloudy are types of weather'`

In [ ]:
### YOUR CODE HERE ###

### Exercise
Clean the sentence `' Why is it lkie this? I dont know! '`

In [ ]:
### YOUR CODE HERE ###

Split the string `'This#statement#is#hard#to#read.'` using the right separator and join the substrings back to produce a proper sentence

In [ ]:
### YOUR CODE HERE ###

### Exercise
Given the following table containing the coordinates of a point in a 3D plane, create a tuple that contains the coordinate values
```
Variable:  x   y   z
Values:    0   1   0
```

In [ ]:
### YOUR CODE HERE ###

### Exercise
Given two lists of `fruits = ['apple', 'banana', 'avocado', 'mango']` and `price = [150, 40, 100, 50]`, create a tuple of nested tuples where each inner tuple contains a fruit and its price

In [ ]:
### YOUR CODE HERE ###

### Exercise
Print the last element of the tuple `some_tuple = (2, 5, 4, 7, 6, 9, 8)`

In [ ]:
### YOUR CODE HERE ###

### Exercise
Consider the following tuples:
```
some_tuple_1 = ('Adit', 'Chitra', 'David', 'Huzefa', 'Jagannath', 'Monika', 'Tuhina')
some_tuple_2 = ('AB018', 'AC626', 'BH782', 'CF663', 'DM787', 'FG098')
```
Print the middle element(s) of both the tuples

In [ ]:
### YOUR CODE HERE ###

In [ ]:
### YOUR CODE HERE ###

### Exercise
What is the length of the tuple `my_tuple = (3.1, 'H', 2.7, 'W', 1.6, (1, 3), 'P', 0.577, 'T')`?

In [ ]:
### YOUR CODE HERE ###

### Exercise
Check if both `'Fe'` and `'N'` are present in the tuple `chem_elements = ('H', 'He', 'Li', 'Be', 'B', 'C', 'N', 'Xe', 'O', 'F', 'Ne')`

In [ ]:
### YOUR CODE HERE ###

### Exercise
Consider the following tuple of employee names and ID numbers:
```
emp_tuple = (['AG8476', 'Chidanand'],
             ['MZ6708', 'Anjuman'],
             ['HF3876', 'Dinesh'],
             ['RT0087', 'Vijay'],
             ['UH5307', 'Ankita'])
```
What is the index of Vijay's information in the tuple?

In [ ]:
### YOUR CODE HERE ###

### Exercise
Sort the tuple `(41, 13, 55, 20, 33)` in descending order and return the output as another tuple.

In [ ]:
### YOUR CODE HERE ###

### Exercise
Sort `some_tup = (3.14, 2.71, 5.0, 1.618, 0.577, 4.669, 9.81, 2.99, 8.314, 6.022, 1.414)` in descending order

In [ ]:
### YOUR CODE HERE ###

### Exercise
Given a tuple of expiry dates `exp_dates = ('2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01', '2023-05-01')` unpack only the first 2 dates into separate variables `'date_1'` and `'date_2'`

In [ ]:
### YOUR CODE HERE ###

### Exercise
Concatenate the tuples `('a', 'b', 'c')` and `(1, 2, 3)`

In [ ]:
### YOUR CODE HERE ###

### Exercise
The tuple `heights = (1.60, 1.75, 1.62, 1.68, 1.80, 1.55, 1.70, 1.65, 1.75, 1.58)` contains the heights of a students in a class. Find the maximum and minimum heights.

In [ ]:
### YOUR CODE HERE ###

In [ ]:
### YOUR CODE HERE ###

### Exercise
You are given a tuple containing reviews of seven customers on a certain product, `cust_reviews = (4.5, 3.2, 5.0, 4.8, 2.5, 3.7, 4.0)`. Find the average review of the product to 2 decimal places.

**Hint:** Use the `round` method for rounding. Study its documentation to understand how to round to 2 decimal places.

In [ ]:
### YOUR CODE HERE ###

### Exercise
Find the smallest element in the tuple `(2.5, 1.8, 3.7, 4.2, 0.9)`.

**Note:** You can achieve this by using the `min` function. However, another common approach is to sort the tuple in ascending order and index the first element.

In [ ]:
### YOUR CODE HERE ###

### Exercise
The set `{1.5, 2.0, 1.8, 2.2, 1.9, 1.7, 2.5, 1.9, 2.1, 2.3, 2.0, 2.4}` contains weights of rabbits. Determine the number of rabbits in the sample.

In [ ]:
### YOUR CODE HERE ###

### Exercise
Consider the following set of country codes:
```
country_codes = {'US', 'CA', 'UK', 'DE', 'FR', 'IT', 'JP', 'AU', 'BR', 'IN', 'CN', 'RU'}
```
Is India's code present in the set?

In [ ]:
### YOUR CODE HERE ###

### Exercise
Consider the following set of employee names:
```
current_emp_names = {'Aditya', 'Manoj', 'Eric', 'Sanju', 'Tanveer'}
```
Suppose that a new employee, Rashi, has joined the compay, and Aditya has resigned. Update the set accordingly.

In [ ]:
### YOUR CODE HERE ###

### Exercise
Consider the following two sets:
```
A = {1, 2, 3, 3.5, 4.2, 5, 5.5}
B = {1, 2, 3, 3.5, 4.2, 5, 5, 5.5, 5.5}
```
Are they equal?

In [ ]:
### YOUR CODE HERE ###

### Exercise
The following sets contain the names of students who have enrolled in two different programs, DSAI and MBA:
```
DSAI = {'Aanya', 'Olivia', 'Kabir', 'Emma', 'Aiden', 'Sophia', 'Arjun',
      'Ava', 'Elijah', 'Ishaan', 'Liam', 'Aisha', 'Aditya', 'Ishika',
      'Aarav', 'Mia', 'Noah', 'Avni', 'Jackson'}
MBA = {'Deepesh', 'Aanya', 'Chandu', 'Olivia', 'Alazar', 'Sofie', 'Kabir',
       'Emma', 'Priya', 'Kokila', 'Kabita',  'Aiden', 'Nematullah', 'Sophia',
       'Arjun', 'Ava', 'Elijah', 'Ishaan', 'Liam', 'Aisha', 'Aditya', 'Ishika',
       'Aarav', 'Mia', 'Noah', 'Avni', 'Jackson'}
```
Check if all the MBA learners are also part of the DSAI program.

In [ ]:
### YOUR CODE HERE ###

### Exercise
The following sets contain the names of customers who have opted for either a credit card or a loan from a bank:
```
credit_card = {'Rahul', 'Priya', 'Amit', 'Ananya', 'Raj', 'Kunal'}
loan = {'Sonia', 'Vikram', 'Neha', 'Kunal', 'Anjali', 'Rahul'}
```
Which customers opted for exactly one of these services?

In [ ]:
### YOUR CODE HERE ###

### Exercise
Store the following data as a dictionary:
```
name = 'Alice',
age = 30
city = 'Wonderland'
```

In [ ]:
### YOUR CODE HERE ###

Create a dictionary from the same data above using the `dict` constructor with keyword arguments

In [ ]:
### YOUR CODE HERE ###

### Exercise
Study the following information categories that are stored in a list:
```
info_list = ['name', 'age', 'city']
```
Create a dictionary using the above keys and store it in a variable called `default_dict` with default values for all categories as `N/A`

In [ ]:
### YOUR CODE HERE ###

### Exercise
Print `name` from the dictionary `employee = {'name': 'John', 'age': 30}`

In [ ]:
### YOUR CODE HERE ###

### Exercise
Consider the following individual dictionaries:
```
personal_info = {'name': 'Sonali', 'age': 25}
address = {'city': 'Mumbai', 'zipcode': 123456}
```
Create a nested dictionary called `nested_dict` from these dictionaries, first by using `{}` and then by using `dict()`.

In [ ]:
### YOUR CODE HERE ###

### Exercise
Consider the following dictionary that has details about a university student:
```
university_student = {'student_id': '123456',
                      'name': {'first_name': 'Surendar',
                               'last_name': 'Dixit'},
                      'age': 21,
                      'email': 'emma.j@example.com',
                      'phone': '555-987-6543',
                      'courses': ['Math', 'English', 'Computer Science'],
                      'is_international': False}
```
Extract and find the length of the list that contains the subjects the student has opted for

In [ ]:
### YOUR CODE HERE ###

### Exercise
Find the length of the following dictionary:
```
university_student = {'student_id': '123456',
                      'name': {'first_name': 'Surendar',
                               'last_name': 'Dixit'},
                      'personal_details': {'age': 21,
                                           'email': 'emma.j@example.com',
                                           'phone': '555-987-6543'},
                      'courses': ['Math', 'English', 'Computer Science'],
                      'is_international': False}
```

In [ ]:
### YOUR CODE HERE ###

### Exercise
List all the keys of the following dictionary:
```
university_student = {'student_id': '123456',
                      'name': {'first_name': 'Surendar',
                               'last_name': 'Dixit'},
                      'personal_details': {'age': 21,
                                           'email': 'emma.j@example.com',
                                           'phone': '555-987-6543'},
                      'courses': ['Math', 'English', 'Computer Science'],
                      'is_international': False}
```

In [ ]:
### YOUR CODE HERE ###

### Exercise
List all the values of the following dictionary:
```
university_student = {'student_id': '123456',
                      'name': {'first_name': 'Surendar',
                               'last_name': 'Dixit'},
                      'personal_details': {'age': 21,
                                           'email': 'emma.j@example.com',
                                           'phone': '555-987-6543'},
                      'courses': ['Math', 'English', 'Computer Science'],
                      'is_international': False}
```

In [ ]:
### YOUR CODE HERE ###

### Exercise
List all the key-value pairs of the following dictionary:
```
university_student = {'student_id': '123456',
                      'name': {'first_name': 'Surendar',
                               'last_name': 'Dixit'},
                      'personal_details': {'age': 21,
                                           'email': 'emma.j@example.com',
                                           'phone': '555-987-6543'},
                      'courses': ['Math', 'English', 'Computer Science'],
                      'is_international': False}
```

In [ ]:
### YOUR CODE HERE ###

### Exercise
Consider the following dictionary that has details about a university student:
```
university_student = {'student_id': '123456',
                      'name': {'first_name': 'Surendar',
                               'last_name': 'Dixit'},
                      'age': 21,
                      'email': 'emma.j@example.com',
                      'phone': '555-987-6543',
                      'courses': ['Math', 'English', 'Computer Science'],
                      'is_international': False}
```
What is the command to check whether both the keys `'name'` and `'age'` are present in the dictionary?

In [ ]:
### YOUR CODE HERE ###

### Exercise
Are the dictionaries `dict1 = {'a': 1, 'b': 2}` and `dict2 = {'b': 2, 'a': 1}` equal?

In [ ]:
### YOUR CODE HERE ###

### Exercise
Consider the following dictionary:
```
employee = {'name': 'Vidya', 'gender': 'F', 'age': 25}
```
Add the following key-value pair to the dictionary: `'city': 'Chennai'`

In [ ]:
### YOUR CODE HERE ###

### Exercise
Consider the following dictionary:
```
employee = {'name': 'Vidya', 'gender': 'F', 'age': 25}
```
Remove the last item from the dictionary

In [ ]:
### YOUR CODE HERE ###

### Exercise
Consider the following dictionary:
```
employee = {'name': 'Vidya', 'gender': 'F', 'age': 25}
```
Remove the gender from the dictionary

In [ ]:
### YOUR CODE HERE ###

### Exercise
Consider the following dictionary:
```
employee = {'name': 'Vidya', 'gender': 'M', 'age': 25}
```
The name of the employee was incorrectly registered as Vidya instead of Divya. Rectify this and also the mistake in the gender.

In [ ]:
### YOUR CODE HERE ###

### Exercise
Consider the following dictionary that contains the monthly sales data of a product for the year 2020:
```
sales_dict = {'Jan': 45, 'Feb': 35, 'Mar': 64,
              'Apr': 75, 'May': 83, 'Jun': 108,
              'Jul': 112, 'Aug': 95, 'Sep': 87,
              'Oct': 65, 'Nov': 74, 'Dec': 70}
```
Print the top three sales amounts and the months in which those sales were made as a new dictionary

In [ ]:
### YOUR CODE HERE ###

### Exercise
Consider the following dictionary that contains the monthly sales data of a product for the year 2020:
```
sales_dict = {'Jan': 45, 'Feb': 35, 'Mar': 64,
              'Apr': 75, 'May': 83, 'Jun': 108,
              'Jul': 112, 'Aug': 95, 'Sep': 87,
              'Oct': 65, 'Nov': 74, 'Dec': 70}
```
Print the maximum and minimum sales values along with the amounts

In [ ]:
### YOUR CODE HERE ###