# Dictionaries
A dictionary is a data type in Python that stores data in key-value pairs. It has a structure like a a traditional dictionary where words correspond to their definitions. They are indexed by keys, unordered, mutable, and does not allow duplicates.

Each element in a dictionary consists of a key and its corresponding value:
- **Keys** are unique, immutable, and are used for indexing
- **Values** can be of any data type, including other dictionaries

## Creating dictionaries
Dictionaries can be created using curly braces `{}` or the `dict()` constructor

### Example
Creating empty dictionaries

In [ ]:
numbers = {}

In [ ]:
numbers

In [ ]:
print(numbers)

In [ ]:
type(numbers)

In [ ]:
numbers = dict()

In [ ]:
numbers

In [ ]:
type(numbers)

In [ ]:
print(numbers)

Example

Creating non-empty dictionaries

In [ ]:
number = {'x': 0}

In [ ]:
number

In [ ]:
print(number)

In [ ]:
type(number)

In [ ]:
numbers = dict(x = 0)

In [ ]:
numbers

In [ ]:
type(numbers)

In [ ]:
print(numbers)

In [ ]:
numbers = {'x': 0, 'y': 5}

In [ ]:
numbers

In [ ]:
type(numbers)

In [ ]:
print(numbers)

### Example
Creating dictionaries with different data types as values

In [ ]:
person = {'name': 'Dinesh', 'age': 45, 'salary': 45800.67, 'married': True}

In [ ]:
person

person = {'name': 'Dinesh',
          'age': 45,
          'salary': 45800.67,
          'married': True}

In [ ]:
print(person)

In [ ]:
type(person)

In [ ]:
person = {'name': 'Dinesh', 'age': 45, 'salary': 45800.67, 'married': True, 'qualification': ['BE', 'MSc']}

In [ ]:
person

In [ ]:
person = {'name': 'Dinesh', 'age': 45, 'salary': 45800.67, 'married': True, 'qualification': ('BE', 'MSc')}

In [ ]:
person

In [ ]:
person = {'name': 'Dinesh', 'age': 45, 'salary': 45800.67, 'married': True, 'qualification': {'BE', 'MSc'}}

In [ ]:
person

### Example
Creating dictionaries with different data types as keys

In [ ]:
person = {'name': 'Dinesh', 45: 'age', 45800.67: 'salary', True: 'married', ('BE', 'MSc') : 'qualification'}

In [ ]:
person

You will typically see dictionaries indexed by keys that generally serve the purpose of unique identification, such as strings or integers.

### Example
Duplicates in dictionaries

In [ ]:
person = {'name': 'Dinesh', 'age': 30, 'married': True, 'age': 30}    # dic removes duplicates

In [ ]:
person

### Example
Creating dictionaries with common default values using the `.from_keys()` method

In [ ]:
keys_list = ['a', 'b', 'c']
default_value = '0'

In [ ]:
#dic(zip key value and default value)

In [ ]:
default_dict = dict.fromkeys(keys_list, default_value)

In [ ]:
default_dict

## Accessing dictionary elements

### Example
Accessing specific values from dictionaries

In [ ]:
person = {'first_name': 'Diya',
          'last_name': 'Kumar',
          'age': 30,
          'gender': 'F',
          'phone': 87387190,
          'is_employed': True}

In [ ]:
person

In [ ]:
person['first_name']

In [ ]:
person['is_employed']

In [ ]:
person['is_married']

In [ ]:
person['first_name' ,'last_name']

In [ ]:
person[['first_name', 'last_name']]

In [ ]:
person['first_name']['last_name']

### Example
Accessing a value safely using the `.get()` method

In [ ]:
person.get('first_name')

In [ ]:
person.get('first_name', 'First name not available')

In [ ]:
person.get('is_married', 'No marriage information available')

### Example
Accessing values in nested dictionaries

In [ ]:
nested_person = {'first_name': 'Gopal',
                 'last_name': 'Verma',
                 'age': 30,
                 'gender': 'Male',
                 'address': {'street': '2nd Main Road',
                             'city': 'Bengaluru',
                             'state': 'Karnataka',
                             'zip_code': 56873},
                 'email': 'gopalverma@upgradlearn.com',
                 'phone': 21218765,
                 'is_employed': True}

In [ ]:
nested_person

In [ ]:
nested_person['address']

In [ ]:
nested_person['age']

In [ ]:
nested_person['address']['street']

In [ ]:
nested_person['address']['city']

In [ ]:
nested_person.get('address')

In [ ]:
nested_person.get('address', 'Address is not available')

In [ ]:
nested_person['address'].get('state')

In [ ]:
nested_person['address'].get('state', 'State is not available')

In [ ]:
nested_person['address'].get('country', 'Country is not available')

Quiz

Consider the following dictionary that has details about a university student:

university_student = {'student_id': '123456',
                      'name': {'first_name': 'Surendar',
                               'last_name': 'Dixit'},
                      'age': 21,
                      'email': 'emma.j@example.com',
                      'phone': '555-987-6543',
                      'courses': ['Math', 'English', 'Computer Science'],
                      'is_international': False}

Extract the first name and age of the student and output these as a new dictionary with just the first_name and age keys.

In [ ]:
university_student = {'student_id': '123456', 'name': {'first_name': 'Surendar', 'last_name': 'Dixit'}, 'age': 21, 'email': 'emma.j@example.com', 'phone': '555-987-6543', 'courses': ['Math', 'English', 'Computer Science'], 'is_international': False}

In [ ]:
university_student

In [ ]:
university_student=university_student['name'].get('first_name','first_name not found')
print('university_student:',)

In [ ]:
university_student

In [ ]:
university_student['age']

In [ ]:
university_student   ## dount

In [ ]:
new_age=university_student['age']

## Operations on dictionaries - getting information about dictionaries

### Example
Finding the length of a dictionary

In [ ]:
person = {'name': 'Dinesh', 'age': 45, 'salary': 45800.67, 'married': True, 'qualification': ('BE', 'MSc')}

In [ ]:
len(person)

In [ ]:
nested_person = {'first_name': 'Gopal',
                 'last_name': 'Verma',
                 'age': 30,
                 'gender': 'Male',
                 'address': {'street': '2nd Main Road',
                             'city': 'Bengaluru',
                             'state': 'Karnataka',
                             'zip_code': 56873},
                 'email': 'gopalverma@upgradlearn.com',
                 'phone': 21218765,
                 'is_employed': True}

In [ ]:
len(nested_person)

In [ ]:
len(nested_person['address'])

### Example
Retrieving keys

In [ ]:
person = {'name': 'Dinesh', 'age': 45, 'salary': 45800.67, 'married': True, 'qualification': ('BE', 'MSc')}

In [ ]:
person

In [ ]:
person.keys()

In [ ]:
personkeys = person.keys()

In [ ]:
personkeys

In [ ]:
type(personkeys)

In [ ]:
list(personkeys)

### Example
Retrieving values

In [ ]:
person = {'name': 'Dinesh', 'age': 45, 'salary': 45800.67, 'married': True, 'qualification': ('BE', 'MSc')}

In [ ]:
person

In [ ]:
person.values()

In [ ]:
persons=person.values()

In [ ]:
persons

In [ ]:
type(persons)

In [ ]:
list(persons)

### Example
Checking if a key exists

In [ ]:
person = {'name': 'Dinesh', 'age': 45, 'salary': 45800.67, 'married': True, 'qualification': ('BE', 'MSc')}

In [ ]:
person

In [ ]:
'salary' in person

In [ ]:
'qualification' in person

In [ ]:
'marital status' in person

### Example
Comparing dictionaries

In [ ]:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 2, 'c': 3, 'a': 1}

In [ ]:
dict1==dict2

## Operations on dictionaries - manipulating dictionaries

### Example
Adding new key-value pairs to a dictionaries

In [ ]:
person = {'name': 'Dinesh', 'age': 45, 'salary': 45800.67, 'married': True, 'qualification': ('BE', 'MSc')}

In [ ]:
person

In [ ]:
person['gender']='M'

In [ ]:
person

In [ ]:
person['city'] = 'Pune'

In [ ]:
person

### Example
Adding items to dictionaries using the `.update()` and `.__setitem__()` methods

In [ ]:
person = {'name': 'Dinesh', 'age': 45, 'salary': 45800.67, 'married': True, 'qualification': ('BE', 'MSc')}

In [ ]:
person

In [ ]:
person.update({'country':'India'})

In [ ]:
person

In [ ]:
person.__setitem__('city', 'Pune')

In [ ]:
person

### Example
Deleting an element at a specific position

In [ ]:
temp_person = {'name': 'Dinesh', 'age': 45, 'salary': 45800.67,
               'married': True, 'qualification': ('BE', 'MSc')}

In [ ]:
temp_person

In [ ]:
del temp_person['salary']

In [ ]:
temp_person

In [ ]:
del temp_person['age']

In [ ]:
temp_person

In [ ]:
temp_person.pop('qualification')

In [ ]:
temp_person

### Example
Editing specific values in dictionaries

In [ ]:
temp_person = {'name': 'Dinesh', 'age': 45, 'salary': 45800.67,
               'married': True, 'qualification': ('BE', 'MSc')}

In [ ]:
temp_person

In [ ]:
temp_person['name'] = 'Virat'    ### one way of change the existing data

In [ ]:
temp_person

In [ ]:
temp_person.update({'married': False})    ## this is another way to change the data present in dictionary

In [ ]:
temp_person

In [ ]:
temp_person.update({'name': 'Suraj', 'married': True, 'salary': 50871.65})

In [ ]:
temp_person

### Example
Merging dictionaries

In [ ]:
employee_personal = {'name': 'David', 'age': 42, 'nationality': 'Indian'}
employee_professional = {'name': 'David', 'salary': 87645.48, 'exp': 19}

In [ ]:
employee_dict = {**employee_personal, **employee_professional} # for Python 3.8 and earlier

In [ ]:
employee_dict

In [ ]:
employee_dict = employee_personal | employee_professional # for Python 3.9 and later

In [ ]:
employee_dict

### Example
Removing all items from a dictionary

In [ ]:
employee_dict

In [ ]:
employee_dict.clear()

In [ ]:
employee_dict

### Example
Making a copy of a dictionary

In [ ]:
temp_person = {'name': 'Dinesh', 'age': 45, 'salary': 45800.67,
               'married': True, 'qualification': ('BE', 'MSc')}

In [ ]:
temp_person

In [ ]:
copy_dict = temp_person.copy()

In [ ]:
copy_dict

In [ ]:
del copy_dict['name']

In [ ]:
copy_dict

In [ ]:
temp_person

### Quiz
Given the dictionary
```
university_student = {'name': 'Sonali', 'age': 25, 'email': 'sonali123@mailmail.com'}
```
Remove the `email` key from this dictionary and add the `address` key with value `Mumbai`. Output the resulting dictionary.

In [3]:
university_student = {'name': 'Sonali', 'age': 25, 'email': 'sonali123@mailmail.com'}

In [5]:
university_student

{'name': 'Sonali', 'age': 25, 'email': 'sonali123@mailmail.com'}

In [7]:
del university_student['email']

In [9]:
university_student

{'name': 'Sonali', 'age': 25}

In [11]:
university_student['address']='Mumbai'

In [13]:
university_student

{'name': 'Sonali', 'age': 25, 'address': 'Mumbai'}

## Operations on dictionaries - mathematical and statistical operations

### Example
Summation of values in a dictionary

In [19]:
revenue_dict = {'q1': 78, 'q2': 73, 'q3': 109, 'q4': 94}

In [21]:
revenue_dict['q1'] + revenue_dict['q2'] + revenue_dict['q3'] + revenue_dict['q4']  ## this is one way

354

In [23]:
sum(revenue_dict.values())  ## ths is another way

354

In [29]:
revenue_dict.sum()

AttributeError: 'dict' object has no attribute 'sum'

### Example
Maximum and minimum values in a dictionary

In [32]:
revenue_dict

{'q1': 78, 'q2': 73, 'q3': 109, 'q4': 94}

In [34]:
max(revenue_dict.values())

109

In [36]:
min(revenue_dict.values())

73

### Example
Indices of maximum and minimum values in a dictionary

In [39]:
revenue_dict

{'q1': 78, 'q2': 73, 'q3': 109, 'q4': 94}

In [41]:
max(revenue_dict, key = revenue_dict.get)

'q3'

In [43]:
min(revenue_dict, key = revenue_dict.get)

'q2'

### Quiz
Given the dictionary
```
daily_sales = {'mon': 0, 'tue': 1, 'wed': 3, 'thu': 5, 'fri': 3}
```
Find the total number of sales, the day with the most sales and the day with the least sales made during the week.

In [46]:
daily_sales = {'mon': 0, 'tue': 1, 'wed': 3, 'thu': 5, 'fri': 3}

In [48]:
daily_sales

{'mon': 0, 'tue': 1, 'wed': 3, 'thu': 5, 'fri': 3}

In [58]:
daily_sales['mon']+daily_sales['tue']+daily_sales['wed']+daily_sales['thu']+daily_sales['fri']  ## one way

12

In [60]:
sum(daily_sales.values())  ## another way

12

In [52]:
max(daily_sales.values())

5

In [54]:
min(daily_sales.values())

0

In [62]:
print(sum(daily_sales.values()))

12

# Tuples
Tuples are a type of fundamental Python data structure that are widely used in the DS/ML/AI industry. Similar to lists, tuples are ordered and indexed collections of objects. Created using parentheses `()`, tuples are immutable (they cannot be modified after being defined), ensuring data integrity.

### Example
Creating tuples

In [68]:
my_tuple = (1, 2, 3, 4)

In [70]:
my_tuple

(1, 2, 3, 4)

In [72]:
type(my_tuple)

tuple

In [74]:
my_list = [1, 3, 5, 7]

In [76]:
my_list

[1, 3, 5, 7]

In [78]:
my_tuple=tuple(my_list)

In [80]:
my_tuple

(1, 3, 5, 7)

### Example
Creating tuples by combining two iterables (lists, tuples, and so on) element-wise using the `zip()` method

In [89]:
list_1 = [1, 2, 3]
list_2 = [4, 5, 6]

In [91]:
my_tuple = zip(list_1, list_2)

In [93]:
my_tuple

Notice that the output is a zip object. To see the content, you need to convert the object into a tuple using the `tuple()` method

In [96]:
result = tuple(my_tuple)

In [98]:
result

((1, 4), (2, 5), (3, 6))

Note that the result is a nested tuple containing tuples that contain the corresponding values of `list_1` and `list_2`

### Example
Indexing and slicing tuples

In [102]:
my_tuple = (10, 3, 5, 6, 2.5, 12)
my_tuple

(10, 3, 5, 6, 2.5, 12)

In [104]:
my_tuple[5]

12

In [106]:
my_tuple[-2]

2.5

In [108]:
my_tuple[1:6]

(3, 5, 6, 2.5, 12)

The indexing and accessing methods for tuples are similar to the ones used for lists

### Example
Adding and removing elements from a tuple

temp_tuple = (1, 2, 3)
temp_tuple.append(4)

### Example
Finding the length of a tuple

In [119]:
my_tuple = (13, 20, 33, 41, 55, 20)
my_tuple

(13, 20, 33, 41, 55, 20)

In [121]:
len(my_tuple)

6

Checking for the presence or absence of elements in a tuple

In [124]:
20 in my_tuple

True

In [126]:
45 in my_tuple

False

Finding the index of an element in a tuple

In [129]:
my_tuple.index(41)

3

Finding the maximum element in a tuple

In [132]:
max(my_tuple)

55

Finding the minimum element in a tuple

In [134]:
min(my_tuple)

13

Computing the sum of all elements in a tuple

In [136]:
sum(my_tuple)

182

Finding the frequency of an element in a tuple

In [141]:
my_tuple.count(20)

2

Unpacking elements of a tuple

In [146]:
ele_1, ele_2, ele_3, ele_4, ele_5, ele_6 = my_tuple

In [148]:
ele_1

13

In [150]:
ele_2

20

In [152]:
ele_1, _, ele_3, ele_4, _, _ = my_tuple

In [154]:
_

20

### Example
Concatenating, repeating and extending tuples

In [157]:
tuple_1 = ('H', 'E', 'L', 'L', 'O')
tuple_1

('H', 'E', 'L', 'L', 'O')

In [159]:
tuple_2 = ('T', 'H', 'E', 'R', 'E')
tuple_2

('T', 'H', 'E', 'R', 'E')

In [161]:
new_tuple = tuple_1 + tuple_2

In [163]:
new_tuple

('H', 'E', 'L', 'L', 'O', 'T', 'H', 'E', 'R', 'E')

In [165]:
tuple_1 + tuple_1

('H', 'E', 'L', 'L', 'O', 'H', 'E', 'L', 'L', 'O')

In [167]:
tuple_1 * 3

('H', 'E', 'L', 'L', 'O', 'H', 'E', 'L', 'L', 'O', 'H', 'E', 'L', 'L', 'O')

### Example
Sorting tuple elements using the `sorted()` function

It is important to note that tuples are immutable. Therefore, sorting a tuple creates a new sorted list rather than modifying the original tuple in-place.

In [171]:
my_tuple = (41, 13, 55, 20, 33)

In [173]:
sorted_elements = sorted(my_tuple)

In [175]:
sorted_elements

[13, 20, 33, 41, 55]

In [177]:
sorted_elements=sorted(my_tuple,reverse=True)

In [179]:
sorted_elements

[55, 41, 33, 20, 13]

Notice that the `sorted()` function returns a list of ordered elements. Therefore, to get the sorted tuple, you should convert the list into a tuple by using the `tuple()` function.

In [182]:
ascending_tuple = tuple(sorted_elements)
ascending_tuple

(55, 41, 33, 20, 13)

In [ ]:
### Quiz
*The following question is similar to ones that can be asked in interviews at companies such as Amazon and KPMG for roles such as Python Developer and Data Analyst. Make sure to attempt this question!*

> What is the difference between a list and a tuple?

# Sets
Similar to lists and tuples, sets are collections of objects, but they are distinct in that they are unordered and do not support indexing. Created using curly braces `{}`, sets offer unique elements, eliminating duplicates and providing a mechanism for efficient membership testing.

### Example
Creating an empty set

In [186]:
my_set = {}

In [188]:
type(my_set)

dict

Note that the syntax to create empty sets and dictionaries is identical, and using `{}` defaults to creating a dictionary.

In [191]:
my_list = []

In [193]:
my_set = set(my_list)

In [195]:
my_set

set()

In [197]:
my_set = {3, 2, 4, 1, 0}

In [199]:
type(my_set)

set

In [201]:
my_set     ### ordered dic

{0, 1, 2, 3, 4}

**Note:** You may notice the elements have been sorted in an ascending order. However, if you consistently observe the elements of your set being printed in the same order, it's important to note that this behavior is not guaranteed by the Python language specification.

The ordering of elements in a set is not something that you should rely on.

In [204]:
my_string = 'Hello'

In [206]:
my_set = set(my_string)

In [208]:
my_set

{'H', 'e', 'l', 'o'}

**Note:** Duplicate items have been removed when we created the set. Sets only store unique elements.

### Example
Indexing elements in a set

In [212]:
my_set = {1, 2, 3, 4, 5}

**Note:** Unlike other data structures like arrays or lists, sets do not maintain an inherent order or index for their elements. This means that you cannot access set elements using numerical indices. One may convert sets to lists or tuples to access the elements within, but it is important to note again that the ordering of elements within a set is not guaranteed.

### Example
Finding the length of a set

In [222]:
len(my_set)

5

Check for the presence or absence of elements in a set

In [225]:
3.5 in my_set

False

In [227]:
3 in my_set

True

### Example
Adding elements to and removing elements from sets

In [252]:
my_set = {1, 2, 3, 4, 5}
my_set

{1, 2, 3, 4, 5}

In [254]:
my_set.add(6)

In [256]:
my_set

{1, 2, 3, 4, 5, 6}

In [258]:
my_set = my_set.add(7)

In [260]:
my_set

In [262]:
type(my_set)

NoneType

Since the operation is being executed in-place, the output is `None`.

In [265]:
my_set = {1, 2, 3, 4, 5}
my_set

{1, 2, 3, 4, 5}

In [267]:
my_set.remove(4)

In [269]:
my_set

{1, 2, 3, 5}

In [273]:
my_set=my_set.remove(3)

In [277]:
my_set

In [279]:
type(my_set)

NoneType

In [281]:
my_set = {1, 2, 3, 4, 5}

In [283]:
my_set.discard(2)

In [285]:
my_set

{1, 3, 4, 5}

### Example
Subsets

In [288]:
A = {1, 2, 3, 4}   ##super set
A

{1, 2, 3, 4}

In [290]:
B = {1, 2, 3}  #subset
B

{1, 2, 3}

In [292]:
B.issubset(A)

True

In [294]:
A.issubset(B)

False

### Example
Finding the union of sets

In [297]:
A = {'A', 'B', 'C', 'D', 'E'}
A

{'A', 'B', 'C', 'D', 'E'}

In [299]:
B = {6, 7, 8, 9}
B

{6, 7, 8, 9}

In [301]:
union_AB = A | B

In [303]:
union_AB

{6, 7, 8, 9, 'A', 'B', 'C', 'D', 'E'}

In [305]:
A | B == B | A

True

In [307]:
A or B     ##doubt

{'A', 'B', 'C', 'D', 'E'}

In [309]:
B or A  ##doubt

{6, 7, 8, 9}

Finding the intersection of two sets

In [312]:
A

{'A', 'B', 'C', 'D', 'E'}

In [314]:
C = {10, 'A', 11, 'D', 12, 13}
C

{10, 11, 12, 13, 'A', 'D'}

In [316]:
intersection_AC = A & C

In [318]:
intersection_AC

{'A', 'D'}

In [320]:
A & C == C & A

True

In [322]:
A and C   ## doubt

{10, 11, 12, 13, 'A', 'D'}

In [324]:
C and A  ## doubt

{'A', 'B', 'C', 'D', 'E'}

Finding the difference between two sets

In [329]:
A

{'A', 'B', 'C', 'D', 'E'}

In [331]:
C

{10, 11, 12, 13, 'A', 'D'}

In [333]:
A-C

{'B', 'C', 'E'}

In [335]:
C-A

{10, 11, 12, 13}

In [337]:
A - C == C - A

False

Finding the symmetric difference between two sets

In [340]:
A

{'A', 'B', 'C', 'D', 'E'}

In [342]:
C

{10, 11, 12, 13, 'A', 'D'}

In [344]:
A^C

{10, 11, 12, 13, 'B', 'C', 'E'}

In [349]:
A ^ C == C ^ A

True

Check if two sets are disjoint

In [352]:
set_1 = {1, 2, 3}
set_2 = {4, 5, 6}

In [354]:
set_1.isdisjoint(set_2)

True

# More operations on dictionaries

Here are some further operations on dictionaries which may involve tuples and sets

### Example
Retrieving key-value pairs

In [358]:
person = {'name': 'Dinesh', 'age': 45, 'salary': 45800.67, 'married': True, 'qualification': ('BE', 'MSc')}

In [360]:
person

{'name': 'Dinesh',
 'age': 45,
 'salary': 45800.67,
 'married': True,
 'qualification': ('BE', 'MSc')}

In [362]:
person.items()

dict_items([('name', 'Dinesh'), ('age', 45), ('salary', 45800.67), ('married', True), ('qualification', ('BE', 'MSc'))])

In [364]:
personitems = person.items()

In [366]:
personitems

dict_items([('name', 'Dinesh'), ('age', 45), ('salary', 45800.67), ('married', True), ('qualification', ('BE', 'MSc'))])

In [368]:
type(personitems)

dict_items

In [370]:
list(personitems)

[('name', 'Dinesh'),
 ('age', 45),
 ('salary', 45800.67),
 ('married', True),
 ('qualification', ('BE', 'MSc'))]

### Example
Removing the most recent entry from a dictionary

In [375]:
temp_person = {'name': 'Dinesh', 'age': 45, 'salary': 45800.67,
               'married': True, 'qualification': ('BE', 'MSc')}

In [377]:
temp_person

{'name': 'Dinesh',
 'age': 45,
 'salary': 45800.67,
 'married': True,
 'qualification': ('BE', 'MSc')}

In [379]:
temp_person.popitem()

('qualification', ('BE', 'MSc'))

In [381]:
temp_person

{'name': 'Dinesh', 'age': 45, 'salary': 45800.67, 'married': True}

### Example
Creating dictionaries from other data structures

In [384]:
keys = ['name', 'age', 'city']
values = ['Alice', 25, 'London']   ## list is converted into dict

In [390]:
type(keys)

list

In [394]:
type(values)

list

In [396]:
from_lists_dict = dict(zip(keys, values))

The `zip()` operator in Python iterates over multiple iterators.

In [399]:
from_lists_dict

{'name': 'Alice', 'age': 25, 'city': 'London'}

In [401]:
type(from_lists_dict)

dict

In [403]:
keys = ('name', 'age', 'city')              ## convert tuple to dict
values = ('Alice', 25, 'London')

In [405]:
type(keys)

tuple

In [407]:
type(values)

tuple

In [409]:
from_tuples_dict = dict(zip(keys, values))

In [411]:
from_tuples_dict

{'name': 'Alice', 'age': 25, 'city': 'London'}

In [415]:
type(from_tuples_dict)

dict

In [417]:
keys = {'name', 'age', 'city'}
values = {'Alice', 25, 'London'}     ##convert set to dict

In [419]:
type(keys)

set

In [421]:
type(values)

set

In [423]:
from_set_dict = dict(zip(keys, values))

In [425]:
from_set_dict

{'age': 'Alice', 'name': 25, 'city': 'London'}

In [427]:
type(from_set_dict)

dict

Though dictionaries themselves are not ordered, they require a one-to-one map of keys and values.